# Dependencias
node_modules/
backend/node_modules/
frontend/node_modules/

# Archivos de entorno
.env
backend/.env
frontend/.env

# Builds
dist/
build/
frontend/dist/

# Base de datos
*.db
*.sqlite
database.db

# Uploads
uploads/
backend/uploads/

# Sistema
.DS_Store
Thumbs.db